<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YelpCamp - One Campground</title>
  </head>
  <body>
    <h1>Page for one campground</h1>
    <h2>Title Of Campground <%= oneCampground.title %></h2>
    <h3>Location: <%= oneCampground.location %></h3>
    <div>
      <a href="/campgrounds/<%=oneCampground._id%>/edit"
        >Edit this campground</a
      >
    </div>

    <form
      action="/campgrounds/<%=oneCampground._id%>?_method=DELETE"
      method="POST"
    >
      <button type="submit">Delete this campground</button>
    </form>

    <footer>
      <a href="/campgrounds">See to all campgrounds</a>
    </footer>
  </body>
</html>
